@import url(https://fonts.googleapis.com/css?family=Coustard);
@import url(https://fonts.googleapis.com/css?family=Viga);
/* estructura de la pagina */

body {
  display: block;
  background-color: #09c4a8;
  color: black;
  margin: 0;
}

/* Cabecera de la pag*/

header {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  /* height: 100%; */
  margin: auto;
  padding: 4px;
  text-align: center;

  width:100%;
  position:fixed;
  z-index:5;
}

header img {
  margin: 10px;
}

header #menu {
  display: block;
  width: auto;
  margin: auto;
  padding: 4px;
}
footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #2D312F;
  height: 100%;
}

#menu li {
  list-style-type: none;
  display: inline-flex;
}

#menu li.active {
  border-bottom:3px solid #000;
}

#menu a {
  margin: 15px;
  color: #1ec392;
  text-decoration: none;
  font-family: 'Coustard', serif;
}

#menu a:hover {
  border-style: 1px solid #ec2d0c;
  text-shadow: 1px 1px 0 grey;
}

/*Cuerpo de la pag*/

#inicio {
  background-image: url(../img/slider.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
  padding: 160px;
}

#inicio h1 {
  margin: 50px;
  color: white;
  font-size: 72px;
  font-family: 'Viga', sans-serif;
}

#inicio p {
  color: white;
  font-size: 25px;
  width: 480px;
  text-align: center;
  font-family: 'Coustard', serif;
}

#cara {
  display: flex;
  height: 600px;
  background-color: #d3ece7;
  padding: 160px;
}

#cara h1 {
  margin: 50px;
  display: flex;
  color: black;
  font-size: 32px;
  font-family: 'Viga', sans-serif;
}

#cara h2 {
  margin: 0;
  color: black;
  font-size: 15px;
  font-family: 'Viga', sans-serif;
}

#cara p {
  color: black;
  font-size: 25px;
  width: 480px;
  text-align: center;
  font-family: 'Viga', sans-serif;
}

#cara img {
  margin: 10px;
}
#galeria {
  padding: 110px;
}

#galeria h1 {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 32px;
  font-family: 'Viga', sans-serif;
}

#galeria h2 {
  color: white;
  text-align: center;
  font-size: 15px;
  font-family: 'Viga', sans-serif;
}

#opiniones {

}

#footer {
  margin: 0;
  height: 100vh;
}
.descripcion {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.descripcion1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.descripcion1 a {
  margin: 10px;
  color: black;
}
.imagen {
  margin: 0;
  display: flex;
  justify-content: center;
}

.slider {
  margin: auto;
}

.testimonios {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d2dcdd;
  height: 615px;
  padding: 150px;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d8e354;
  height: 653px;
  padding: 140px;
}
.footerh1 {
  color: white;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  font-size: 14px;
  font-family: 'Viga', sans-serif;
}

.iconos {
  display: flex;
  font-size: 40px;
  color: white;
  justify-content: center;
  margin: 10px;
}
.iconos a {
  color: white;
  margin: 8px;
}
.copyright {
  color: white;
  margin: 20px;
}
.copyright i {
  color: white;
  margin: 5px;
}
.copyright a {
  text-decoration: none;
  color: red;
}
.copyright a:hover {
  border-style: 1px solid #ec2d0c;
  text-shadow: 1px 1px 2px black;
}
.contacto{
  margin: 8px;
  display: flex;
}

.contacto p {
  margin: 10px;
}

.contacto i {
  margin: 5px;
}
/* Arregla el espacio (margen) de la página */

h1 {
  margin: 0;
}
