.logotipofranja {
  background-image: url(img/logotipowocop.png);
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}
#menu {
  display: block;
  background-color: #0affda;
  color: white;
  width: auto;
  border: 2px inset grey;
  margin: auto;
  padding: 4px;
}
header {
  display: block;
  background-color: #0affda;
  color: black;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 4px;
  text-align: center;
}
.contenido {
  border: 2px solid black;
  margin: auto;

}
body {
  display: block;
  background-color: #09c4a8;
  color: black;
}
