#menu {
  display: inline-block;
  background-color: #0affda;
  color: white;
  width: auto;
}
header {
  display: block;
  background-color: #0affda;
  color: black;
  width: 100%;
  height: 100%;
}
body {
  display: block;
  background-color: #09c4a8;
  color: black;
  width: 100%;
  height: 100%;
}
